.BlockDetail {
  position: absolute;
  min-width: 288px;
  transform: translate(-50%, -50%);
  transition: var(--ease-out-transition);
  z-index: 10;
}

.BlockDetail:focus-within {
  z-index: 20;
}

.BlockDetail-card {
  box-shadow: var(--depth-1-shadow) !important;
}

.BlockDetail-card:focus-within {
  box-shadow: var(--depth-3-shadow) !important;
}
