.BlockDetail {
  position: absolute;
  min-width: 288px;
  transform: translate(-50%, -50%);
  transition: var(--ease-out-transition);
  z-index: 10;
}

.BlockDetail:focus-within {
  z-index: 20;
}

.BlockDetail-card {
  box-shadow: var(--depth-1-shadow) !important;
}

.BlockDetail:focus-within .BlockDetail-card {
  box-shadow: var(--depth-3-shadow) !important;
}

.BlockDetail-card > div {
  display: flex;
}

.BlockDetail-title {
  flex: 1;
}

.BlockDetail-actions {
  display: flex;
  flex-direction: column;
}

.BlockDetail-action {
  margin: 0 0 8px 0 !important;
  opacity: 0;
}

.BlockDetail:hover .BlockDetail-action {
  opacity: 1;
}

.BlockDetail-actions svg {
  color: var(--secondary-text-color) !important;
}
