.Diagram {
  flex: 1;
  background-color: var(--grey-50);
}

.Diagram-linking,
.Diagram-linking * {
  cursor: crosshair !important;
}

.Diagram-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

.Diagram-links {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: visible;
}

.Diagram-add {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 100;
}
