.Diagram {
  flex: 1;
}

.Diagram-linking,
.Diagram-linking * {
  cursor: crosshair !important;
}

.Diagram-content {
  min-width: 50%;
  min-height: 50%;
  transform: translate(100%, 100%);
  transition: var(--ease-out-transition);
}

.Diagram-add {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 100;
}
