.Diagram {
  flex: 1;
  background-color: var(--grey-50);
}

.Diagram-content {
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
}

.Diagram-add {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 100;
}
