.LinkDetail {
  position: absolute;
  transition: var(--ease-out-transition);
  pointer-events: none;
}

.LinkDetail:hover {
  z-index: 5;
}

.LinkDetail-link {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: visible;
  transition: var(--ease-out-transition);
}

.LinkDetail-hover {
  stroke: transparent;
  stroke-width: 34px;
  pointer-events: auto;
}

.LinkDetail-linking .LinkDetail-hover {
  pointer-events: none;
}

.LinkDetail-line {
  transition: var(--ease-out-transition);
  stroke: var(--text-color);
}

.LinkDetail:hover .LinkDetail-line {
  stroke: var(--primary1-color);
}

.LinkDetail-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--canvas-color);
  box-shadow: var(--depth-1-shadow);
  pointer-events: auto;
  transition: var(--ease-out-transition);
  opacity: 0;
}

.LinkDetail-linking .LinkDetail-menu {
  pointer-events: none;
}

.LinkDetail:hover .LinkDetail-menu {
  opacity: 1;
}

.LinkDetail-menu button {
  width: 34px !important;
  height: 34px !important;
  padding: 0 !important;
}

.LinkDetail-menu svg {
  color: var(--secondary-text-color) !important;
}

.LinkDetail-menu > :hover svg {
  color: var(--text-color) !important;
}
